<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand thick">CASTLE</a>
  <div *ngIf="username">
    <a>Welcome, {{username}}!</a>
  </div>
  <ng-container *ngIf="!isLoggedIn">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav mr-5">
        <li class="dropdown" dropdown>
          <button dropdownToggle  class="btn colored-button dropdown-toggle" data-toggle="dropdown">Sign up<span class="caret"></span></button>
          <ul *dropdownMenu class="dropdown-menu dropdown-lr" role="menu">
            <li class="col-lg-12">
              <div class="text-center">
                <h3><b>Sign up</b></h3></div>
              <form id="ajax-register-form">
                <div class="form-group">
                  <input type="text" [(ngModel)]="usernameToRegister" name="usernameRegister" id="usernameRegister" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="email" [(ngModel)]="usernameEmail" name="emailRegister" id="emailRegister" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <input type="password" [(ngModel)]="passwordToRegister" name="passwordRegister" id="passwordRegister" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" [(ngModel)]="confirmPassword" name="confirm-password" id="confirm-password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="cityName" name="city-name" id="city-name" class="form-control" placeholder="First City Name">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <button class="colored-button btn" (click)="signUp()">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown" dropdown>
          <button dropdownToggle class="btn colored-button">Sign in<span class="caret"></span></button>
          <ul *dropdownMenu class="dropdown-menu dropdown-lr" role="menu">
            <li class="col-lg-12">
              <div class="text-center">
                <h3><b>Sign in</b></h3></div>
              <form id="ajax-login-form">
                <div class="form-group">
                  <input type="text" [(ngModel)]="usernameToLogin" name="usernameLogin" id="usernameLogin" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" [(ngModel)]="passwordToLogin" name="passwordLogin" id="passwordLogin" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                      <button class="colored-button btn" (click)=signIn()>Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <div class="navbar-collapse collapse">
    <div class="navbar-nav">
      <button class="btn colored-button" (click)="signOut()">Log Out</button>
    </div>
    </div>
  </ng-container>
</nav>
<img class="stretch" src="../assets/background-image.png">
<div>
  <flash-messages></flash-messages>
  <app-slide-panel class="center" [activePane]="pane">
    <div firstPane>
      <app-structure-detail></app-structure-detail>
    </div>
    <div secondPane>
      <app-world-map></app-world-map>
    </div>
    <div thirdPane>
      <app-city-map></app-city-map>
    </div>
    <div fourthPane>
      <app-castle></app-castle>
    </div>
    <div fifthPane>
      <app-login></app-login>
    </div>
  </app-slide-panel>
</div>


